html, body {
  height: 100%; 
 }
 


.Count, .EventsAnalysis, .Stress, .Activity { 
	height: 100%;
}


.AcresFlownPerDateChart { grid-area: AcresFlownPerDateChart; }

.AGXactlyLogo { grid-area: AGXactlyLogo; }


.RanchBlockSublotDateFlown { 
	grid-area: RanchBlockSublotDateFlown;
	font-size: 18px;
	}

.DateFlown { 
	grid-area: DateFlown;
	font-size: 18px;
	}

.CustomerLogo { 
  display: grid;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 18px;
  grid-template-columns: 0.5fr 0.5fr;
  grid-template-rows: 0.9fr 0.3fr;
  gap: 1px 1px;
  grid-template-areas:
    "CustomerLogoImage CustomerLogoImage"
	"LastUpdatedLabel LastUpdated";
  grid-area: CustomerLogo; 
  }
.CustomerLogo > LastUpdatedLabel {
  grid-area: LastUpdatedLabel;
  background-color: #ddebda;
}
.CustomerLogo > LastUpdated {
  grid-area: LastUpdated;
  background-color: #f4f4f4;
}
.CustomerLogo > CustomerLogoImage {
	grid-area: CustomerLogoImage;
}


.AcresArea {
  display: grid;
  grid-template-columns: 200px 200px 200px 800px;
  grid-template-rows: 100px 100px 300px;
  gap: 1px 1px;
  grid-template-areas:
    "LandAcres AcresFlown AcresFlown OverallChart" 
	"ExpectedCrops LatestCropCount CropsLost OverallChart"
	"MissingPercent MissingChart MissingChart OverallChart";
  grid-area: AcresArea;
}
.LandAcres { grid-area: LandAcres; }
.AcresFlown { grid-area: AcresFlown; }
.ExpectedCrops { grid-area: ExpectedCrops; }
.LatestCropCount { grid-area: LatestCropCount; }
.CropsLost { grid-area: CropsLost; }
.MissingPercent { grid-area: MissingPercent; }
.MissingChart { grid-area: MissingChart;}
.OverallChart { grid-area: OverallChart; }

.CountTabChartsArea {
  display: grid;
  grid-template-columns: 600px 400px 400px;
  grid-template-rows: 370px;
  gap: 1px 1px;
  grid-template-areas:
    "CropsLostPerDateArea TopFiveAsPercentArea TopFiveArea";
  grid-area: CountTabChartsArea;
}	
.CropsLostPerDateArea { grid-area: CropsLostPerDateArea; }
.TopFiveArea { grid-area: TopFiveArea; }

.EventsArea {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 3fr;
  gap: 1px 1px;
  grid-template-areas:
    "EventsTableArea EventsPieChartArea";
  grid-area: EventsArea;
}	
.EventsTableArea { grid-area: EventsTableArea; }
.EventsPieChartArea { grid-area: EventsPieChartArea; }


.NDVIArea {
  display: grid;
  grid-template-columns: 200px 300px 900px;
  grid-template-rows: 100px 300px;
  gap: 1px 1px;
  grid-template-areas:
    "NDVIAverageArea NDVIAcresFlownArea NDVIBigTable"
	"NDVISmallTable NDVISmallTable NDVIBigTable";
  grid-area: NDVIArea;
}	
.NDVIAverageArea {grid-area: NDVIAverageArea; }
.NDVIAcresFlownArea {grid-area: NDVIAcresFlownArea; }
.NDVISmallTable {grid-area: NDVISmallTable; }
.NDVIBigTable { grid-area: NDVIBigTable; }
.NDVILineChart { width: 1400px; }

.TitleBar { 
  grid-area: TitleBar;
  background-color: #547634;
  color: #deab3d;
  text-align: center;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 24px;
}
.FlyAnAcreBar {
	grid-area: FlyAnAcreBar;
	text-align: right;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 14px;
}	

.CustomerInfo {
  display: grid;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 18px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.3fr 0.3fr 0.3fr 0.3fr;
  gap: 1px 1px;
  grid-template-areas:
    "PreparedForLabel PreparedFor"
    "CompanyNameLabel CompanyName"
    "CropTypeLabel CropType"
    "PreparedByLabel PreparedBy";
  grid-area: CustomerInfo;
}

.CustomerInfo > PreparedForLabel {
  grid-area: PreparedForLabel;
  background-color: #ddebda;
}
.CustomerInfo > CompanyNameLabel {
  grid-area: CompanyNameLabel;
  background-color: #ddebda;
}
.CustomerInfo > CropTypeLabel {
  grid-area: CropTypeLabel;
  background-color: #ddebda;
}
.CustomerInfo > PreparedByLabel {
  grid-area: PreparedByLabel;
  background-color: #ddebda;
}

.CustomerInfo > PreparedFor {
  grid-area: PreparedFor;
  background-color: #f4f4f4;
}
.CustomerInfo > CompanyName {
  grid-area: CompanyName;
  background-color: #f4f4f4;
}
.CustomerInfo > CropType {
  grid-area: CropType;
  background-color: #f4f4f4;
}
.CustomerInfo > PreparedBy {
  grid-area: PreparedBy;
  background-color: #f4f4f4;
}


.TextInput {
  border-radius: 5px 5px 5px 5px;
  width: 80px;
}

.LoginTextInput {
	border-radius: 5px 5px 5px 5px;
	width: 200px;
}

.dashboard-dropdown {
  border-radius: 5px 5px 5px 5px;
  width: 100%;
}

.overallTable, .NDVIOverallTable, .eventLossesTable { 
  border-collapse: collapse;
  width: 100%;
  overflow: auto;
  display: block;
  height: 400px;
  overflow-y:scroll;
}

.NDVIEventsAndAverageTable {
  border-collapse: collapse;
  width: 100%;
  overflow: auto;
  display: block;
  height: 300px;
  overflow-y:scroll;
}

.cropsLostTable {
  border-collapse: collapse;
  width: 100%;
  overflow: auto;
  display: block;
  height: 200px;
  overflow-y:scroll;
}

th, td {
  text-align: left;
  padding: 8px;
}

th {
    white-space: nowrap;
}

.trEven {background-color: #f4f4f4;}
.trOdd {background-color: #ddebda;}
.tableHeader {
  background-color: #547634;
  color: white;
}
thead, tbody {
  max-height: 500px;
  overflow: auto;
}




.eventHeader {  
	background-color: #ffffff;
	color: black;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 16px;
}


.stat-card {
  /* Add shadows to create the "card" effect */
  background-color: #547634;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  margin: 2px 2px 2px 2px;
  
}

/* On mouse-over, add a deeper shadow */
.stat-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.stat-card-container {
  padding: 2px 16px;
  height: auto;
}

.stat-title {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 16px;
	color: white;
}

.stat-number {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 30px;
	color: white;
	text-align: center;
}

 /* Style the tab */
.Tabs {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: grey; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

/* The navigation menu links */
.tablinks {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 18px;
  color: white;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.tablinks:hover {
  color: #f1f1f1;
  cursor: pointer;
}

/* Tooltip for the flyanacregiveanacre pop up box */
p.tooltip {
  position: relative;
  display: inline-block;
  border: 2px dotted grey;
  padding: 5px;
  background-color: grey;
  color: white;
  border-radius: 5px 5px 5px 5px;
}
p.tooltip span {
  opacity: 0.1;  
  width: 600px;
  background-color: #547634;
  color: #deab3d;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: -1px;
  left: -620px;

  z-index: 1000000;
  display: inline;
  opacity: 0;
  transition: 750ms all;
}
p.tooltip:hover span {
    outline: none;
    opacity: 1;
}







/* For presentation only, no need to copy the code below 
.grid-container * {
  border: 1px solid red;
  position: relative;
  }*/